<html>
  <head>
    <title>EU referendum data analysis</title>
    <meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/pub.css">
  </head>
  <body>
    <%- yield %>
  </body>
</html>