caption, table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
	 width: 100%
}

caption, th, td {
    padding: 15px;
}

th {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #eee;
}
tr:nth-child(odd) {
    background-color: #fff;
}
th {
    background-color: #aaa;
}

caption {
	color: #fff;
	background-color: #000;
	font-weight: bold;
}

body {
	font: 10px sans-serif;
}

#chart {
	padding-top: 50px;